# IntelliJ IDEA
.idea/
*.iml

# Compilados
out/
*.class

# Archivos de sistema
.DS_Store
Thumbs.db

# NetBeans y Eclipse (por si acaso)
nbproject/
nbbuild/
dist/
build/
.classpath
.project
.settings/

# Archivos JSON generados (última posición por bus)
*.json
